<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <h1>We Creating shiet!</h1>

    <nav>
        <ul>
            <li><a href="/blogs">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="blogs/create">Post</a></li>
            <li><a href="/logout">Log out</a></li>
        </ul>
    </nav>
    <div class="create-blog content">
        <form action="/blogs" method="POST">
            <label for="title">Blog title</label>
            <input type="text" id="title" name="title" required>
            <label for="snippet">Blog snippet</label>
            <input type="text" id="snippet" name="snippet" required>
            <label for="body">Blog body</label>
            <textarea id="body" name="body" required></textarea>
            <button>Submit</button>
        </form>
    </div>


    <%- include('../partials/footer.ejs') %>
</body>
</html>