<nav>
    <h1>COC Strats</h1>
    <ul>
        <li><a href="/blogs">Home</a></li>
        <li><a href="/about">About</a></li>

        <% if (user) { %>
            <li><a href="blogs/create">Post</a></li>
            <li><a href="/logout">Log out</a></li>
        <% } else { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        <% } %>

    </ul>

</nav>