<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>
<body>
    <h1>About Us</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="blogs/create">Post</a>
    </nav>

    <article>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut efficitur tristique enim at ultrices. Nulla in odio at nunc gravida imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras nisi tellus, tincidunt vehicula malesuada eget, lacinia ac metus. Sed vitae turpis porta, consequat eros ac, scelerisque enim. Etiam ac leo vehicula, viverra elit vel, aliquam est. Praesent risus magna, ornare et fringilla et, tincidunt in urna. Etiam sollicitudin enim est, eu faucibus odio hendrerit vitae. Pellentesque iaculis maximus dapibus. Maecenas ut ligula consequat, ultricies mauris ut, luctus purus. Sed a ex et magna ullamcorper aliquet. Sed vitae lobortis lacus, ac pellentesque metus.
        <br><br>
        Etiam elementum aliquet laoreet. Quisque tristique quam et augue vulputate, vitae varius nunc porttitor. Morbi id ornare ligula. Phasellus hendrerit augue nunc, vehicula mollis odio vehicula vitae. Maecenas ut orci turpis. Vestibulum convallis justo justo, sed tempus mi fermentum sed. Praesent sodales arcu ultrices odio luctus, eget commodo nunc convallis. Nulla facilisi. Nulla quis molestie neque. Vivamus velit eros, consequat imperdiet augue vitae, porttitor volutpat eros. Proin rhoncus volutpat diam quis efficitur. In et dignissim nisi, sed auctor erat. Suspendisse ut fringilla ante. Fusce nisi tortor, mollis eget hendrerit ac, vulputate in tellus. Duis maximus eu tortor quis condimentum.
        <br><br>
        Vivamus lobortis metus ac diam lacinia, consectetur elementum nunc euismod. Nulla massa justo, pharetra quis vulputate non, imperdiet in nibh. Donec erat quam, tincidunt nec posuere quis, convallis in neque. Maecenas vitae venenatis est. Integer efficitur commodo elit, sed egestas velit faucibus ut. Vivamus dignissim quis erat nec suscipit. Duis suscipit porta lacus vel mollis. Aenean ac mauris ornare, mollis mi quis, ornare metus. Fusce et nunc molestie, vulputate purus eu, interdum nulla. In tempor purus vel metus ultrices, quis imperdiet quam convallis. Praesent ac aliquam leo. Fusce tincidunt leo sapien, non faucibus tellus varius eu. Vivamus tristique lacinia ullamcorper. In consequat placerat ex, sed malesuada mauris maximus sed. Praesent non tincidunt eros. Duis consectetur et orci ut finibus.
        <br><br>
        Sed iaculis viverra purus, quis luctus eros condimentum lobortis. Praesent sapien risus, aliquet vitae lectus maximus, scelerisque efficitur sem. Vestibulum imperdiet mattis dui. Praesent eget neque ligula. Sed et congue odio, id pulvinar ex. Nunc porta, nunc nec elementum ornare, ipsum nisl egestas nulla, vitae cursus lorem nisi in quam. Phasellus vel pretium mi. Duis eget congue nibh, nec laoreet risus. Curabitur lacinia, elit eget placerat porttitor, ligula tellus pharetra lorem, nec vestibulum lorem mauris ac purus. Maecenas blandit vel ipsum vel imperdiet. Nam a lectus massa. Quisque gravida nulla quam, quis posuere odio facilisis a.
        <br><br>
        Proin blandit, erat et tincidunt egestas, libero nisi suscipit quam, et tempus sapien metus nec nisi. In sed dolor eget ipsum convallis egestas. Donec velit nunc, aliquam eu porttitor sed, blandit vel tellus. Vestibulum semper, odio vel laoreet congue, tortor tellus varius erat, eu malesuada ligula lectus quis orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum suscipit mi vel dolor mollis hendrerit. Nunc condimentum volutpat libero id ultrices. Quisque diam sem, egestas sit amet convallis sed, tempus non mi. Donec vitae ultricies quam. Quisque in posuere elit, at vestibulum nulla.
    </article>
    <br><br>
    <%- include( './partials/footer' ); %>
</body>
</html>